{% extends 'base.html.twig' %}

{% block title %}Modifier ProjetsCompetences{% endblock %}

{% block body %}

<div>
    <a class="text-muted" href="{{ path('logout') }}">Déconnexion</a>
</div>
<div>
<a href="/admin/projets">Projets</a>
<a href="/admin/images">Images</a>
<a href="/admin/competences">Compétences</a>
<a href="/admin/projets_images/">Projets_images</a>
<a href="">Projets_compétences</a>
<a href="/admin/informations/">Informations</a>
</div>
    <h1>Modifier ProjetsCompetences</h1>

    {{ include('projets_competences/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    {{ include('projets_competences/_delete_form.html.twig') }}

    <a href="{{ path('projets_competences_index') }}">Retour à la liste</a>

{% endblock %}