{% extends 'base.html.twig' %}

{% block title %}Nouvelle compétence{% endblock %}

{% block body %}
    <h1>Créer une nouvelle compétence</h1>

    {{ include('competences/_form.html.twig') }}

    <a href="{{ path('competences_index') }}">Retour à la liste</a>
{% endblock %}