{% extends 'base.html.twig' %}

{% block title %}Nouveau projetsImages{% endblock %}

{% block body %}
    <h1>Créer un nouveau projetImages</h1>

    {{ include('projets_images/_form.html.twig') }}

    <a href="{{ path('projets_images_index') }}">Retour à la liste</a>
{% endblock %}