{% extends 'base.html.twig' %}

{% block title %}Nouveaux projets{% endblock %}

{% block body %}
    <h1>Créer un nouveau projet</h1>

    {{ include('projets/_form.html.twig') }}

    <a href="{{ path('projets_index') }}">Retour à la liste</a>
{% endblock %}