{% extends 'base.html.twig' %}

{% block title %}Modifier les images{% endblock %}

{% block body %}

<a class="text-muted" href="{{ path('logout') }}">Déconnexion</a>

<div>
<a href="/admin/projets/">Projets</a>
<a href="">Images</a>
<a href="/admin/competences">Compétences</a>
<a href="/admin/projets_images/">Projets_images</a>
<a href="/admin/projets_competences/">Projets_compétences</a>
<a href="/admin/informations/">Informations</a>
</div>
    <h1>Modifier les images</h1>

    {{ include('images/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    {{ include('images/_delete_form.html.twig') }}
    <a href="{{ path('images_index') }}">Retour à la liste</a>

  
{% endblock %}